In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [2]:
DATA_PATH = 'data/train.csv'
TEST_PATH = 'data/test.csv'
ATTRS_PATH = 'data/attr.csv'
FIGSIZE = (16, 7)
RANDOM_STATE = 42

In [3]:
sns.set()
tqdm.pandas()

pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [4]:
df = pd.read_csv(DATA_PATH,
    nrows=1500
)
attrs = pd.read_csv(ATTRS_PATH)

In [5]:
joined_u = pd.merge(df, attrs, left_on=['ego_id', 'u'], right_on=['ego_id', 'u'], how='left')
joined_u

:

:

In [ ]:
joined_v = pd.merge(joined_u, attrs, left_on=['ego_id', 'v'], right_on=['ego_id', 'u'], how='left', suffixes=('_u', '_v'))
joined_v

MemoryError: Unable to allocate 572. MiB for an array with shape (5, 15000000) and data type float64

In [ ]:
joined_v = joined_v[[
    'ego_id', 'u_u', 'v', 't', 'x1', 'x2', 'x3', 'age_u', 'city_id_u',
    'sex_u', 'school_u', 'university_u', 'age_v', 'city_id_v',
    'sex_v', 'school_v', 'university_v'
]]
joined_v.columns = [
    'ego_id', 'u', 'v', 't', 'x1', 'x2', 'x3', 'age_u', 'city_id_u',
    'sex_u', 'school_u', 'university_u', 'age_v', 'city_id_v',
    'sex_v', 'school_v', 'university_v'
]

In [ ]:
graph_ids = df['ego_id'].unique()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(graph_ids, range(len(graph_ids)), train_size=0.7, random_state=RANDOM_STATE)

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, train_size=0.8, random_state=RANDOM_STATE)

In [ ]:
# drop_indices = df[df['x1'] > df['x1'].quantile(0.9)]['ego_id'].unique()

In [ ]:
# df[df['x1'] > 20]['ego_id'].nunique() / df['ego_id'].nunique()

In [ ]:
joined_v[joined_v['ego_id'].isin(X_train)]

,ego_id,u,v,t,x1,x2,x3,age_u,city_id_u,sex_u,school_u,university_u,age_v,city_id_v,sex_v,school_v,university_v
1642,10,15,0,594.50000,0.00180,0.00000,1.00000,122.00000,812659840.00000,2.00000,429963652.00000,305345287.00000,40.00000,812659840.00000,1.00000,-1.00000,29142664.00000
1643,10,0,52,20.00000,0.03482,0.00000,0.00000,40.00000,812659840.00000,1.00000,-1.00000,29142664.00000,38.00000,592242923.00000,2.00000,-1.00000,880545209.00000
1644,10,10,31,363.80000,0.00000,0.00000,0.00000,35.00000,812659840.00000,2.00000,-1.00000,-1.00000,122.00000,812659840.00000,2.00000,765951790.00000,305345287.00000
1645,10,12,61,17.40000,0.09022,0.00000,1.00000,37.00000,812659840.00000,1.00000,664022210.00000,880545209.00000,34.00000,812659840.00000,1.00000,-1.00000,37436168.00000
1646,10,67,126,87.90000,0.00000,0.00000,0.00000,43.00000,-1.00000,2.00000,-1.00000,-1.00000,45.00000,812659840.00000,2.00000,-1.00000,-1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,8589934981,146,151,50.50000,0.01279,0.00000,0.00000,22.00000,427211423.00000,1.00000,-1.00000,-1.00000,18.00000,273347540.00000,1.00000,-1.00000,-1.00000
999996,8589934981,0,40,20.60000,0.49626,0.00000,0.00000,20.00000,-1.00000,1.00000,-1.00000,-1.00000,45.00000,896966949.00000,1.00000,399055781.00000,-1.00000
999997,8589934981,92,236,19.70000,1.32884,0.00000,0.00000,15.00000,-1.00000,2.00000,421340620.00000,-1.00000,17.00000,937220582.00000,2.00000,-1.00000,-1.00000
999998,8589934981,218,240,143.90000,0.00737,0.00000,0.00000,18.00000,-1.00000,1.00000,-1.00000,-1.00000,19.00000,427211423.00000,1.00000,84141872.00000,121483716.00000
999999,8589934981,155,139,50.40000,1.55493,0.00000,1.00000,22.00000,767154299.00000,2.00000,-1.00000,-1.00000,22.00000,330463101.00000,2.00000,399748070.00000,-1.00000

In [ ]:
joined_v[joined_v['ego_id'].isin(X_train)].to_csv('m_train.csv', index=False)
joined_v[joined_v['ego_id'].isin(X_val)].to_csv('m_val.csv', index=False)
joined_v[joined_v['ego_id'].isin(X_test)].to_csv('m_test.csv', index=False)